.container {
    width: 55%;
    margin: auto;
    
}

#banner {
    background-image: url(../img/pattern.png);
    height: 100px;
    background-size: 40%;
    background-color:#4EA0FF;
}

#logo {
    width: 20%;
    margin-top: 4%;
    margin-left: 1%;
}

h1{
    font-size: 40px;
}

.colore-testo {
    color: grey;
}
#testo-azzurro {
    color: #4EA0FF;
}

#testo-piccolo {
    font-size: 11px;
}

#testo-evidenziato-giallo {
    background-color: yellow;
}


#intestazione-tabella {
    color: white;
    background-color: #20A9E5;
}

#riga-tabella{
    background-color: #B1E5F2;
}