.container {
    width: 55%;
    margin: auto;
    
}

#banner {
    background-image: url(../img/pattern.png);
    height: 100px;
    background-size: 40%;
    background-color:#4EA0FF;
}

#logo {
    width: 20%;
    margin-top: 4%;
    margin-left: 1%;
}

h1{
    font-size: 40px;
}

#testo-grigio {
    color: grey;
}
#testo-azzurro {
    color: #4EA0FF;
}

.testo-piccolo {
    font-size: 11px;
}

.testo-evidenziato-giallo {
    background-color: yellow;
}


#intestazione-tabella {
    color: white;
    background-color: #20A9E5;
}

.riga-tabella{
    background-color: #B1E5F2;
}

#foto-conclusiva1 {
    background-image: url(../img/monitor.jpg);
    height: 200px;
    width: 250px;
}

.testo-immagini {
    color: white;
    font-size: 22px;
}

#foto-conclusiva2 {
    background-image: url(../img/graph.jpg);
    height: 200px;
    width: 250px;
}
